Package: com.romerson.tecfixes
Name: TecDuck for Safari
Version: @VERSION@
Architecture: iphoneos-arm
Description: Fixes Tec Concursos, a Brazilian exam-prep study site, in Safari on iOS 12: blank notebooks, overlapping lesson text with zoom, videos in Opaline and essential-only cookies. / Correções do Tec Concursos para o Safari do iOS 12.
Maintainer: Romerson Serejo
Author: Romerson Serejo
Section: Tweaks
Depends: com.ps.polyfills
Homepage: https://github.com/homerserejo/tecduck
Depiction: @REPO_URL@depictions/com.romerson.tecfixes.html
Icon: @REPO_URL@CydiaIcon.png
