Package: com.romerson.tecfixes
Name: Tec Fixes
Version: 0.1.1
Architecture: iphoneos-arm
Description: Correções e otimizações do Tec Concursos para o WebKit do iOS 12, como scripts do Polyfills.
Maintainer: Romerson Serejo
Author: Romerson Serejo
Section: Tweaks
Depends: com.ps.polyfills
Homepage: https://github.com/homerserejo/Tec-Concursos-iOS12
